<!doctype html>
<html>
<head>
	<title>Banking App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" 
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1>Banking UI</h1>
		<div class="menu_actions"><a href="/">Home</a></div>
		<p>
		<div class="bank_content">
			<h3>Welcome to the Banking App</h3>
			<hr>
			<p>Open an account by filling the form below</p>
			<form action="#" th:action="@{/register}" th:object="${newUserForm}" method="post">
				<p><label>First name: </label>
				<input type="text" name="firstName" th:field="*{firstName}">
				<p><label>Last name: </label>
				<input type="text" name="lastName" th:field="*{lastName}">
				<p><label>Account number (Card Identification)</label>
				<input type="text" name="cardId" th:field="*{cardId}">
				<p><label>PIN number (4 digits)</label>
				<input type="password" name="pin" th:field="*{pin}">
				<p><input type="submit" value="Login">
			</form>
		</div>
	</div>
</body>
</html>